# O problema

Gerar relatórios iniciais a serem apresentados em uma reunião de investidores e acionistas, explicando a quantidade de vinhos exportados e os fatores externos que podem vir a surgir e que interferem nas análises:

1. Dados climáticos.
2. Dados demográficos.
3. Dados econômicos.
4. Dados de avaliações de vinhos.

O head de dados pediram para que você construísse uma tabela contendo as seguintes informações:

1. País de origem (Brasil).
2. País de destino.
3. Quantidade em litros de vinho exportado (utilize: 1kg = 1l).
4. Valor em US$.

Seu objetivo é dizer o montante de venda de exportação nos últimos 15 anos, separando a análise por país e trazendo quais as propecções futuras e possíveis ações para uma melhoria nas exportações. Construa gráficos atraentes e que passem a ideia central para que os acionistas e investidores possam seguir em frente com suas ações.

fontes: 

http://vitibrasil.cnpuv.embrapa.br/index.php?opcao=opt_06

https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o

## Importando dados de produção de vinhos de mesa

In [1]:
import warnings 
warnings.filterwarnings(action = 'ignore')

In [2]:
import pandas as pd


dados = pd.read_csv('Producao.csv', sep = ';', skipfooter = 43)

In [3]:
dados

,1,VINHO DE MESA,VINHO DE MESA.1,217208604,154264651,146953297,116710345,193875345,177401209,144565438,...,212777037,196904222,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995
0,2,vm_Tinto,Tinto,174224052,121133369,118180926,88589019,146544484,144274134,118360170,...,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996
1,3,vm_Branco,Branco,748400,1160500,1812367,243900,4138768,1441507,1871473,...,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
2,4,vm_Rosado,Rosado,42236152,31970782,26960004,27877426,43192093,31685568,24333795,...,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
3,5,VINHO FINO DE MESA (VINÍFERA),VINHO FINO DE MESA (VINÍFERA),23899346,23586062,21078771,12368410,31644124,39424590,34500590,...,45200730,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998
4,6,vv_Tinto,Tinto,7591557,7265666,6782837,3419625,10047658,14731106,12405154,...,24027589,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249
5,7,vv_Branco,Branco,15562889,15655709,13289304,7930070,18927471,21933695,19874659,...,20647238,21906349,20054804,19561966,8705066,21928400,18297257,18193055,15487915,20867999
6,8,vv_Rosado,Rosado,744900,664687,1006630,1018715,2668995,2759789,2220777,...,525903,719723,1200514,841120,590713,1167258,1291709,2032990,1576888,2173750

## Tratando dados

In [4]:
dados.isnull().sum().sum()

0

In [5]:
dados.dtypes

1                   int64
VINHO DE MESA      object
VINHO DE MESA.1    object
217208604           int64
154264651           int64
146953297           int64
116710345           int64
193875345           int64
177401209           int64
144565438           int64
195359778           int64
200053669           int64
211252982           int64
130308185           int64
186129728           int64
234754564           int64
120261544           int64
177680331           int64
275338955           int64
157711522           int64
150467184           int64
244791058           int64
181801961           int64
210548199           int64
126768254           int64
163248419           int64
171754995           int64
202073263           int64
214788304           int64
152917771           int64
182816047           int64
150814943           int64
226520776           int64
273025576           int64
228932458           int64
259589740           int64
202545724           int64
313962284           int64
226080432           int64
185100887           int64
275287908           int64
287506811           int64
205418206           int64
195267980           int64
257840749           int64
212777037           int64
196904222           int64
196173123           int64
210308560           int64
86319015            int64
255015187           int64
218375636           int64
144629737           int64
124200414           int64
173899995           int64
dtype: object

In [6]:
selecao = dados.columns[40:].to_list() #selecionando últimos 15 anos
selecao.insert(0, "VINHO DE MESA.1")
selecao

['VINHO DE MESA.1',
 '275287908',
 '287506811',
 '205418206',
 '195267980',
 '257840749',
 '212777037',
 '196904222',
 '196173123',
 '210308560',
 '86319015',
 '255015187',
 '218375636',
 '144629737',
 '124200414',
 '173899995']

In [7]:
dados = dados[selecao]
dados

,VINHO DE MESA.1,275287908,287506811,205418206,195267980,257840749,212777037,196904222,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995
0,Tinto,228156220,241057928,164143454,157290088,210113358,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996
1,Branco,42118552,42942053,39211278,35408083,46007504,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
2,Rosado,5013136,3506830,2063474,2569809,1719887,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
3,VINHO FINO DE MESA (VINÍFERA),43176484,47334501,39900568,24805713,47598471,45200730,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998
4,Tinto,24786071,27583032,18209043,11401406,24104740,24027589,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249
5,Branco,17598428,18812571,21366975,13013027,22739426,20647238,21906349,20054804,19561966,8705066,21928400,18297257,18193055,15487915,20867999
6,Rosado,791985,938898,324550,391280,754305,525903,719723,1200514,841120,590713,1167258,1291709,2032990,1576888,2173750

In [8]:
dados.columns = ['VINHO DE MESA.1', '2007', '2008', '2009', '2010', '2011','2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
dados

,VINHO DE MESA.1,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Tinto,228156220,241057928,164143454,157290088,210113358,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996
1,Branco,42118552,42942053,39211278,35408083,46007504,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
2,Rosado,5013136,3506830,2063474,2569809,1719887,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
3,VINHO FINO DE MESA (VINÍFERA),43176484,47334501,39900568,24805713,47598471,45200730,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998
4,Tinto,24786071,27583032,18209043,11401406,24104740,24027589,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249
5,Branco,17598428,18812571,21366975,13013027,22739426,20647238,21906349,20054804,19561966,8705066,21928400,18297257,18193055,15487915,20867999
6,Rosado,791985,938898,324550,391280,754305,525903,719723,1200514,841120,590713,1167258,1291709,2032990,1576888,2173750

In [9]:
dados.drop(3, inplace = True)
dados

,VINHO DE MESA.1,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Tinto,228156220,241057928,164143454,157290088,210113358,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996
1,Branco,42118552,42942053,39211278,35408083,46007504,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
2,Rosado,5013136,3506830,2063474,2569809,1719887,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
4,Tinto,24786071,27583032,18209043,11401406,24104740,24027589,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249
5,Branco,17598428,18812571,21366975,13013027,22739426,20647238,21906349,20054804,19561966,8705066,21928400,18297257,18193055,15487915,20867999
6,Rosado,791985,938898,324550,391280,754305,525903,719723,1200514,841120,590713,1167258,1291709,2032990,1576888,2173750

In [10]:
tipos = [
    'Vinho de Mesa Tinto', 
    'Vinho de Mesa Branco', 
    'Vinho de Mesa Rosado', 
    'Vinho Fino de Mesa (Vinífera) Tinto', 
    'Vinho Fino de Mesa (Vinífera) Branco', 
    'Vinho Fino de Mesa (Vinífera) Rosado'
]

In [11]:
dados['VINHO DE MESA.1'] = tipos
dados.rename(columns = {'VINHO DE MESA.1': 'tipos'}, inplace = True)
dados.set_index('tipos', inplace = True)
dados

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
tipos,,,,,,,,,,,,,,,
Vinho de Mesa Tinto,228156220,241057928,164143454,157290088,210113358,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996
Vinho de Mesa Branco,42118552,42942053,39211278,35408083,46007504,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
Vinho de Mesa Rosado,5013136,3506830,2063474,2569809,1719887,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
Vinho Fino de Mesa (Vinífera) Tinto,24786071,27583032,18209043,11401406,24104740,24027589,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249
Vinho Fino de Mesa (Vinífera) Branco,17598428,18812571,21366975,13013027,22739426,20647238,21906349,20054804,19561966,8705066,21928400,18297257,18193055,15487915,20867999
Vinho Fino de Mesa (Vinífera) Rosado,791985,938898,324550,391280,754305,525903,719723,1200514,841120,590713,1167258,1291709,2032990,1576888,2173750

In [12]:
dados['producao_total'] = dados.sum(axis = 1)
dados

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,producao_total
tipos,,,,,,,,,,,,,,,,
Vinho de Mesa Tinto,228156220,241057928,164143454,157290088,210113358,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996,2303288904
Vinho de Mesa Branco,42118552,42942053,39211278,35408083,46007504,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799,675206856
Vinho de Mesa Rosado,5013136,3506830,2063474,2569809,1719887,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200,61428820
Vinho Fino de Mesa (Vinífera) Tinto,24786071,27583032,18209043,11401406,24104740,24027589,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249,289833053
Vinho Fino de Mesa (Vinífera) Branco,17598428,18812571,21366975,13013027,22739426,20647238,21906349,20054804,19561966,8705066,21928400,18297257,18193055,15487915,20867999,279180476
Vinho Fino de Mesa (Vinífera) Rosado,791985,938898,324550,391280,754305,525903,719723,1200514,841120,590713,1167258,1291709,2032990,1576888,2173750,15321586

In [13]:
dados_uteis_fechado = dados.reset_index()
dados_uteis_fechado

,tipos,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,producao_total
0,Vinho de Mesa Tinto,228156220,241057928,164143454,157290088,210113358,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996,2303288904
1,Vinho de Mesa Branco,42118552,42942053,39211278,35408083,46007504,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799,675206856
2,Vinho de Mesa Rosado,5013136,3506830,2063474,2569809,1719887,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200,61428820
3,Vinho Fino de Mesa (Vinífera) Tinto,24786071,27583032,18209043,11401406,24104740,24027589,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249,289833053
4,Vinho Fino de Mesa (Vinífera) Branco,17598428,18812571,21366975,13013027,22739426,20647238,21906349,20054804,19561966,8705066,21928400,18297257,18193055,15487915,20867999,279180476
5,Vinho Fino de Mesa (Vinífera) Rosado,791985,938898,324550,391280,754305,525903,719723,1200514,841120,590713,1167258,1291709,2032990,1576888,2173750,15321586

In [14]:
dados_uteis_aberto = dados_uteis_fechado.drop('producao_total', axis = 1)
dados_uteis_aberto

,tipos,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Vinho de Mesa Tinto,228156220,241057928,164143454,157290088,210113358,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996
1,Vinho de Mesa Branco,42118552,42942053,39211278,35408083,46007504,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
2,Vinho de Mesa Rosado,5013136,3506830,2063474,2569809,1719887,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
3,Vinho Fino de Mesa (Vinífera) Tinto,24786071,27583032,18209043,11401406,24104740,24027589,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249
4,Vinho Fino de Mesa (Vinífera) Branco,17598428,18812571,21366975,13013027,22739426,20647238,21906349,20054804,19561966,8705066,21928400,18297257,18193055,15487915,20867999
5,Vinho Fino de Mesa (Vinífera) Rosado,791985,938898,324550,391280,754305,525903,719723,1200514,841120,590713,1167258,1291709,2032990,1576888,2173750

In [15]:
dados_uteis_aberto.set_index('tipos', inplace = True)
dados_uteis_aberto = dados_uteis_aberto.T
dados_uteis_aberto.head()

tipos,Vinho de Mesa Tinto,Vinho de Mesa Branco,Vinho de Mesa Rosado,Vinho Fino de Mesa (Vinífera) Tinto,Vinho Fino de Mesa (Vinífera) Branco,Vinho Fino de Mesa (Vinífera) Rosado
2007,228156220,42118552,5013136,24786071,17598428,791985
2008,241057928,42942053,3506830,27583032,18812571,938898
2009,164143454,39211278,2063474,18209043,21366975,324550
2010,157290088,35408083,2569809,11401406,13013027,391280
2011,210113358,46007504,1719887,24104740,22739426,754305

In [16]:
dados_uteis_aberto['producao_brasileira_total'] = dados_uteis_aberto.sum(axis = 1)
dados_uteis_aberto.reset_index(inplace = True)
dados_uteis_aberto.rename(columns = {'index': 'ano'}, inplace = True)
dados_uteis_aberto.head()

tipos,ano,Vinho de Mesa Tinto,Vinho de Mesa Branco,Vinho de Mesa Rosado,Vinho Fino de Mesa (Vinífera) Tinto,Vinho Fino de Mesa (Vinífera) Branco,Vinho Fino de Mesa (Vinífera) Rosado,producao_brasileira_total
0,2007,228156220,42118552,5013136,24786071,17598428,791985,318464392
1,2008,241057928,42942053,3506830,27583032,18812571,938898,334841312
2,2009,164143454,39211278,2063474,18209043,21366975,324550,245318774
3,2010,157290088,35408083,2569809,11401406,13013027,391280,220073693
4,2011,210113358,46007504,1719887,24104740,22739426,754305,305439220

In [17]:
dados_uteis_aberto = dados_uteis_aberto[['ano', 'producao_brasileira_total']]
dados_uteis_aberto.head()

tipos   ano  producao_brasileira_total
0      2007                  318464392
1      2008                  334841312
2      2009                  245318774
3      2010                  220073693
4      2011                  305439220

## Exportando dados

In [18]:
dados_uteis_aberto.to_csv('producao_util.csv', index = False)